// sizes
$toolbar-height:56px;
$default-margin: 10px;
// fonts
$font-text: 1rem; 
// colors
$brown-middle: #CAC0B1;
$text-color: #473F33;
$background-color: #FBF5EE;
// layers
$toolbar-z-index: 100;
$container-z-index: 90;
$default_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$element-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);